---
title: Getting Started with Apps Manager
owner: Apps Manager
---

This topic describes the functions and scope of Apps Manager, a web-based tool for managing <%= vars.app_runtime_first %> organizations, spaces, apps, services, and users.

## <a id="browser"></a> Browser Support

Apps Manager is compatible with the latest major versions of the following browsers:

* [Apple Safari](https://www.apple.com/safari/)
* [Google Chrome](https://www.google.com/chrome/)
* [Microsoft Edge](https://www.microsoft.com/en-us/windows/microsoft-edge)
* [Microsoft Internet Explorer](https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads)
* [Mozilla Firefox](https://www.mozilla.org/en-US/firefox/)

<%= vars.company_name %> recommends using Chrome, Firefox, Edge, or Safari for the best Apps Manager experience.


## <a id="permissions"></a> About Permissions

Your ability to perform actions in Apps Manager depends on your <%= vars.console_ev %>

The table below shows the relationship between specific org and space management actions and the non-admin user roles who can perform them. A non-admin user must be a member of the org and space to perform these actions.

Admin users can perform all of these actions using either the cf CLI or by logging into Apps Manager as an Org Manager, using the UAA Admin credentials.

Space Managers assign and remove users from spaces by setting and unsetting their roles within the space.

<table border="1" class="nice">
  <col width="20%">
  <col width="20%">
  <col width="20%">
  <col width="20%">
  <col width="20%">
<tr>
  <th><strong>Action</strong></th>
  <th><strong>CLI command</strong></th>
  <th><strong>Org Manager</strong></th>
  <th><strong>Space Manager</strong></th>
  <th><strong>Org Auditor, Space Developer, or Space Auditor</strong></th>
</tr>
<tr>
  <td>Create an org</td><td><code>create-org</code></td><td><%= vars.create_orgs %></td><td><%= vars.create_orgs %></td><td><%= vars.create_orgs %></td>
</tr>
<tr>
  <td>Delete an org</td><td><code>delete-org</code></td><td>No</td><td>No</td><td>No</td>
</tr>
<tr>
  <td>Rename an org</td><td><code>rename-org</code></td><td>Yes</td><td>No</td><td>No</td>
</tr>
<tr>
  <td>View org members</td><td><code>org-users</code></td><td>Yes</td><td>Yes</td><td>Yes</td>
</tr>
<tr>
  <td>Assign user a role in org</td><td><code>set-org-role</code></td><td><%= vars.manage_roles_pws_yes %></td><td><%= vars.manage_roles_pws_no %></td><td>No</td>
</tr>
<tr>
  <td>Remove org role from user</td><td><code>unset-org-role</code></td><td><%= vars.manage_roles_pws_yes %></td><td><%= vars.manage_roles_pws_no %></td><td>No</td>
</tr>
<tr>
  <td>View space members</td><td><code>space-users</code></td><td>Yes</td><td>Yes</td><td>Yes</td>
</tr>
<tr>
  <td>Assign user a role in space</td><td><code>set-space-role</code></td><td><%= vars.manage_roles_pws_yes %></td><td><%= vars.manage_roles_pws_yes %></td><td>No</td>
</tr>
<tr>
  <td>Remove space role from user</td><td><code>unset-space-role</code></td><td><%= vars.manage_roles_pws_yes %></td><td><%= vars.manage_roles_pws_yes %></td><td>No</td>
</tr>

</table>


<%= vars.create_orgs_footnote %>

<%= vars.manage_roles_footnote %>
