---
title: Managing Orgs and Spaces Using Apps Manager
owner: Apps Manager
---


This topic explains how to view and manage orgs and spaces in Apps Manager.

<p class="note"><strong>Note:</strong> To manage a space, you must have Space Manager permissions in that space.</p>


## <a id='overview'></a> Overview

You can use Apps Manager to manage orgs and spaces. This includes creating and deleting orgs,
domains, and spaces, managing member permissions, adding metadata, and more.

For information about managing apps and service instances, see
[Managing Apps and Service Instances Using Apps Manager](manage-apps.html).

<% unless vars.disallow_multi_foundation %>
<!-- This ensures that the paragraph below only appears in the PCF docs, not in the PWS docs.  -->

You can manage orgs and spaces across multiple foundations. For more information, see
[Configuring Multi-Foundation Support in Apps Manager](../opsguide/configure-multi-foundation.html).

<% end %>


## <a id='prerequisite'></a> Prerequisite

To do the following, you must first log in to Apps Manager with an account that has adequate
permissions.

For more information, see [About Permissions](dev-console.html#permissions) in
_Getting Started with Apps Manager_.


## <a id='view-org'></a> Manage an Org

You can manage org resources, including the spaces, domains, and members associated with the
selected space, in Apps Manager. You can also manage org settings.

You can manage an org by navigating to the org in Apps Manager. 

To navigate to an org, do one of the following:

* On the Apps Manager home page, under **Orgs**, click the name of the org that you want to manage.
* Search for the org by entering its name in the search bar.

By default, the landing page for an org in Apps Manager is the org **Spaces** page. You can use the
panel on the left side of the screen to navigate to other pages for resources in the org, such as
domains and members.

The following image shows an example of the landing page for an org in Apps Manager.

![Landing page for an org in Apps Manager](org-spaces-page.png) 

You can manage the following resources in an org using Apps Manager:

* Spaces. See [Manage Spaces](#spaces).
* Domains. See [Manage Domains](#domains).
* Members. See [Manage Members](#members).
* Org settings. See [Manage Settings](#org-settings).

### <a id="spaces"></a> Manage Spaces

In the org **Spaces** tab, you can do the following:

* See the following information for each space:
   * Name
   * Number of apps
   * Number of apps in running, stopped, and crashed states
   * Number of services
   * Memory quota usage

* Create a new space.

### <a id="domains"></a> Manage Domains

In the org **Domains** page, you can do the following:

* See each **Domain** in your org.

* See the **Type** associated with each domain. A type is either **Globally Shared** or
**Privately Shared**. For more information about globally and locally shared domains, see
[Shared Domains](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/routes-domains.html#shared-domains)
and [Private Domains](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/devguide/deploy-apps/routes-domains.html#private-domains)
in _Configuring Routes and Domains_.

* Delete a domain by clicking the vertical three-dot icon and selecting **Delete**. You must have permission to manage the domain to delete it.

* Create a new private domain by clicking **Add a Domain**. You must have Org Manager permissions to create a private domain.
  <p class="note"><strong>Note:</strong> To create globally shared domains, you must have Admin permissions and use the Cloud Foundry Command Line Interface (cf CLI). For more information, see [Create a Shared Domain](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>//devguide/deploy-apps/routes-domains.html#create-a-shared-domain).</p>

### <a id="members"></a> Manage Members

In the org **Members** page, you can do the following:

* See member email addresses
* Toggle member permissions
* Remove member from org
* Invite a new member

### <a id="org-settings"></a> Manage Settings

In the org **Settings** page, you can do the following:

* Change the org name

* See spaces assigned to isolation segments. For more information, see
[Isolation Segments](../concepts/security.html#isolation-segments) in
_<%= vars.app_runtime_abbr %> Security_.

* Delete the org. You must have admin permissions to delete an org. 

### <a id="metadata-org"></a> Add Metadata

You can add metadata, including labels and annotations, to orgs using Apps Manager. 

<% if vars.platform_code.include? "CF" %>

For more information about adding metadata to objects in
<%= vars.app_runtime_first %>,
see [Using Metadata](../adminguide/metadata.html).

<% else %>

For more information about adding metadata to objects in
<%= vars.app_runtime_first %>, see
[Using Metadata](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/metadata.html).

<% end %>

To add labels or annotations to an org using Apps Manager:

1. Click the **Settings** tab of the desired org and navigate to the **Metadata** section.
	![Metadata section of the Apps Manager Settings page](metadata.png)

1. For **Labels**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the label in JSON.

1. For **Annotations**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the annotation in JSON.

1. To add more labels or annotations, click **+** next to the **Labels** or **Annotations** field.

1. Click **Update Metadata**.


## <a id='manage-space'></a> Manage a Space

You can manage space resources, including the apps, service instances, routes, and members
associated with the selected space, in Apps Manager. You can also manage space settings.

You can manage a space by navigating to the space in Apps Manager. 

To navigate to the space, do one of the following:

* On the org page, click the name of the space you want to manage.
* Search for a space by entering its name in the search bar.

By default, the landing page for a space in Apps Manager is the space **Apps** page. You can use
the panel on the left side of the screen to navigate to other pages for resources in the space,
such as services and members.

The following image shows an example of the landing page for a space in Apps Manager. 

![Landing page for a space in Apps Manager](space-apps-view.png) 

You can manage the following resources in a space using Apps Manager:

* Apps. See [Manage Apps](#manage-apps).
* Services. See [Manage Services](#manage-services).
* Members. See [Manage Members](#manage-members).
* Routes. See [Manage Routes](#manage-routes). 
* Space settings. See [Manage Settings](#manage-settings).

### <a id='manage-apps'></a> Manage Apps

The **Apps** page lists information about all apps in the space. For each app, it shows the
**Status**, **Name**, number of  **Instances**, amount of **Memory** available, time since the
**Last Push**, and associated **Route**.

### <a id='manage-services'></a> Manage Services

The **Services** page shows the **Service**, **Name**, number of **Bound Apps**, and **Plan** for
each service instance in the space.

For more information about configuring services, see
[Services](../services/overview.html).

### <a id='manage-members'></a> Manage Members

The **Members** page lists all members of the space. For each member, the page also lists the
associated user roles. 

The following user roles can be assigned to space members on the **Members** page:

* **Space Manager**: Space Managers can invite and manage users in the space.   
* **Space Developer**: Space Developers can create, manage, and delete apps and services in a space.
* **Space Auditor**: Space Auditors have read-only access to space details, app logs, and reports.

### <a id='manage-routes'></a> Manage Routes

The **Routes** page lists the routes associated with the space. 

For each **Route**, the page shows the **Route Service** and **Bound Apps**. For more information
about route services, see [Route Services](../services/route-services.html).

### <a id='manage-settings'></a> Manage Settings

From the space **Settings** page, you can do the following:

* Modify the space name.

* View the Application Security Groups (ASGs) associated with the space.

* View the space's isolation segment assignment. For more information, see
[Isolation Segments](../concepts/security.html#isolation-segments) in
_<%= vars.app_runtime_abbr %> Security_.

* Add metadata to the space. For more information, see [Add Metadata](#metadata).

* Delete the space.

### <a id="metadata-space"></a> Add Metadata

You can add metadata, including labels and annotations spaces using Apps Manager.

<% if vars.platform_code.include? "CF" %>

For more information about adding metadata to objects in <%= vars.app_runtime_abbr %>,
see [Using Metadata](../adminguide/metadata.html).

<% else %>

For more information about adding metadata to objects in <%= vars.app_runtime_abbr %>, see
[Using Metadata](https://docs.pivotal.io/platform/adminguide/metadata.html).

<% end %>

To add labels or annotations to a space using Apps Manager:

1. Click the **Settings** tab of the desired space and navigate to the **Metadata** section.

1. For **Labels**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the label in JSON.

1. For **Annotations**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the annotation in JSON.

1. To add more labels or annotations, click **+** next to the **Labels** or **Annotations** field.

1. Click **Update Metadata**.
